---
layout: default
---

  {% include nav-module.html %}

  <!--Featured Post-->

<div id="home_content">
  <section id="featured-article">
    <h6>featured</h6>
      {% assign count = 0 %}
      {% for post in site.posts reversed %}
      {% if post.featured == true and count < 1 %}
        <div class="post">

          {% include post.html %}

        </div>
      {% assign count = count | plus: 1 %}
      {% endif %}
      {% endfor %}
  </section>

  <!--latest Posts--->

  <section id="latest-articles">
    <h6 id="latest-article-title">latest articles</h6>
      <article id="list-module">
        <ul class="post-list">
          {% for post in site.posts reversed | limit:4 %}
            <li class="latest-articles-listings">

              {% include post-list.html %}

            </li>
          {% endfor %}
        </ul>
      </article>
  </section>
</div>

<!--aside-quotes/social widget-->

<section id="quote-widget">
  <p class="quote-text">“In every age it has been the tyrant, the oppressor and the exploiter who has wrapped himself in the cloak of patriotism, or religion, or both to deceive and overawe the People.”</p>
</section>
