---
layout: default
---

  {% include nav-module.html %}

  <!--Featured Post-->

<div id="home_content">
  <section id="featured-article">
    <h6>featured</h6>
      {% assign count = 0 %}
      {% for post in site.posts reversed %}
      {% if post.featured == true and count < 1 %}
        <div class="post">

          {% include post.html %}

        </div>
      {% assign count = count | plus: 1 %}
      {% endif %}
      {% endfor %}
  </section>

  <!--latest Posts--->

  <section id="latest-articles">
    <h6>latest articles</h6>
      <article class="list-module">
        <ul class="post-list">
          {% for post in site.posts reversed | limit:4 %}
            <li>

              {% include post-list.html %}

            </li>
          {% endfor %}
        </ul>
      </article>
  </section>
</div>

<!--aside-quotes/social widget-->
