/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/* Color variables */

$sans-serif-font: "Lato", Helvetica, Arial, sans-serif;
$serif-font: "Gentium Basic", Georgia, serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$dark-gray:   rgb(81,81,81);
$light-gray:   rgb(237,237,237);
$blue:        rgb(0,180,255);
$white:       rgb(0,0,0);

$grey-color-light: lighten($dark-gray, 40%);
$grey-color-dark:  darken($dark-gray, 25%);

/**
* Typography
*/

p {
  font-family: $sans-serif-font;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
   color: rgb(81,81,81);
}

.post-meta {
  font-family: $sans-serif-font;
  font-size: 18px;
  text-transform: uppercase;
}

li {
  list-style-type: none;
  height: 100%;
}


h1 {
  font-family: $serif-font;
  font-weight: 600;
  font-size: 85px;
  line-height: 96px;
  margin-top: 32px;
  margin-bottom: 0px;
  color:$dark-gray;
}

h2 {
  font-family: $serif-font;
  font-weight: 600;
  font-size: 53px;
  line-height: 64px;
  margin-top: 64px;
  margin-bottom: 32px;
  color:$dark-gray;
}

#featured-title{
  margin-top: 30px;
}

.post-headline {
  margin-bottom: 0px;
}

h3 {
  font-family: $serif-font;
  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
  margin-top: 64px;
  margin-bottom: 32px;
  color:$dark-gray;
}


#post-list-title {
  margin-top: 10px;
  margin-bottom:5px;
}

h4 {
  font-family: $serif-font;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0px;
  color:$dark-gray;
}

.post-subtitle {
  font-family: $sans-serif-font;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $blue;
}

h5 {
  font-family:$serif-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0px;
  color:$dark-gray;
}

h5.post-subtitle {
  margin-top: 0px;
}

h6 {
  font-family:$sans-serif-font;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
  color:$dark-gray;
}

blockquote {
  font-family: $serif-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color:$dark-gray;
  margin: 0;
}

a {
  color: $blue;
  text-decoration: none;
}

.post-link {
  color: $dark-gray;
}
