/* LAYOUT STRUCTURE ------------------------   FLEXBOX  */
html {height: 100%;}

.site {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

/* Header Index page */

.site-header {
 display: block;
 height: 100px;
 width: 100%;
 border-top: solid 10px $dark-gray;
}

.page-content {
  width: 1600px;
  display: flex;
  justify-content:space-between;
}

/* nav module */

.nav-module {
  width: 120px;
  height: 800px;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}


/* Home Page */
#home_content {
  width: 876px;
}

#featured-article {
  height: 475px;
}

#latest-articles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#latest-article-title{
  width: 100%;
  height: 100%;
}

#list-module {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.post-list {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.latest-articles-listings {
  width: 430px;
  height: 175px;
}

/* quote section */

#quote-widget {
width: 420px;
height: 800px;
background-color: $light-gray;
}
